//font-family: 'Cuprum', sans-serif; titulos
//font-family: 'Orienta', sans-serif;

//resets

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

   * img {
      width: 100%;
      height: auto;
   }

    body {
       width: 100vw;
       max-width: 100%;
       max-height: 100%;
    }

    html {
       scroll-behavior: smooth;
    }

    li {
       list-style: none;
    }

    a {
       text-decoration: none;
    }

    main {
       width: 100%;
       height: 100%;
    }


//general

body{
    background: #0A0602;
    background-image: url(https://esossl-a.akamaihd.net/uploads/website/Q3ZeOwb7aw/eso-bg-texture-3.png);
    background-size: auto;
    background-attachment: fixed;
    text-shadow: 0px 0px 1px #000, 0px 1px 1px #000, 0px 1px 10px #000;
    font-family: 'Orienta', sans-serif;
    color: white;
}

.logCart{
    position: fixed;
    top: 0;
    width: 100%;

    ul{
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 2rem;

        @media(min-width: 768px){
            height: 3rem;
        }

        li{
            a{
                display: flex;
                align-items: center;

                h2{
                    font-size: .8rem;
                    margin-right: 1rem;
                    color: #96806c;
                    font-style: italic;

                    @media(min-width: 768px){
                        font-size: 1.3rem;
                    }

                }

                div{
                    width: .8rem;

                    @media(min-width: 768px){
                        width: 1.5rem;
                    }
                }
            }
        }
    }
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: .5rem .5rem .5rem .5rem;
    margin: 2.5rem 0 1rem 0;


    @media(min-width: 768px){
        margin: 5rem 0 2.5rem 0;
    }

    .logo {
        width: 2.5rem;
        transition: transform .7s ease-in-out;

        @media(min-width: 768px){
            width: 4rem;
        }

        @media(min-width: 1200px){
            width: 5rem;
        }
    }

    .logo:hover {
        transform: rotate(360deg);
    }

    nav{

        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            padding: 1rem;

            li{
                margin: 0 .5rem .1rem 0;

                a{
                    color: #96806c;
                    font-size: .9rem;
                    background-color: rgba(0, 0, 0, .1);
                    border-radius: .2rem;
                    margin-right: .3rem;

                    @media(min-width: 768px){
                        font-size: 1rem;
                    }

                    @media(min-width: 1200px){
                        font-size: 1.3rem;
                    }
                }
                a:hover{
                    color: #96714e;
                }
            }
        }
    }
}

.portada{
    margin-bottom: 2rem;

    div:nth-child(2){
        display: none;
    }
    div:nth-child(3){
        display: none;
    }

    @media(min-width: 768px){
        div:nth-child(1){
            display: none;
        }

        div:nth-child(2){
            display: contents;
        }

        div:nth-child(3){
            display: none;
        }
    }

    @media(min-width: 1200px){
        div:nth-child(1){
            display: none;
        }

        div:nth-child(2){
            display: none;
        }

        div:nth-child(3){
            display: contents;
        }
    }
}

.store{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;

    .substore{
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;

        @media(min-width: 1200px){
            width: 70%;
        }

        @media(min-width: 1900px){
            width: 60%;
        }

        .titles{
            width: 100%;
            margin: 0 0 1rem 0;
            font-size: 0.7rem;
            font-style: italic;
            display: flex;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.5);

            @media(min-width: 768px){
                padding: .5rem;
                font-size: 1rem;
                margin: 3rem 0 2rem 0;
            }

            @media(min-width: 1200px){
                margin: 4rem 0 3rem 0;
            }

            @media(min-width: 1200px){
                border-radius: .5rem;
                background-color: rgba(0, 0, 0, 0.3);
            }
        }

        .item{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin: 0 0 2rem 0;
            width: 15rem;

            @media(min-width: 768px){
                width: 20rem;
            }

            @media(min-width: 1200px){
                width: 25rem;
            }

            .product{
                width: 15rem;
                margin: 0 0 1rem 0;

                @media(min-width: 768px){
                    width: 20rem;
                }

                @media(min-width: 1200px){
                    width: 25rem;
                    margin: 3rem 1rem 1rem 1rem;
                }
            }

            .price{
                display: flex;
                width: auto;
                align-items: center;

                h2{
                    margin: 0 .2rem 0 0;
                    font-size: 1rem;

                    @media(min-width: 768px){
                        font-size: 1.4rem;
                    }
                }

                div{
                    width: 1rem;

                    @media(min-width: 768px){
                        width: 1.4rem;
                    }
                }
            }

            button {
                color: #96806c;
                background: #1C1814;
                border-radius: .2rem;
                border-color: #2c2721;

                @media(min-width: 768px){
                    font-size: 1.2rem;
                    border-radius: .4rem;
                    padding: .1rem;
                }
            }

        }
    }

}

footer{

    section{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1rem;

        @media(min-width: 768px){
            justify-content: space-evenly;
            margin: 3rem;
        }

        @media(min-width: 1200px){
            margin: 10rem 3rem 5rem 3rem;
        }

        div{
            margin: .3rem;
            width: 2rem;

            @media(min-width: 768px){
                width: 5rem;
            }

            @media(min-width: 1200px){
                width: 9rem;
            }
        }
    }

    nav{
        display: flex;
        align-items: center;
        flex-direction: column;

        @media(min-width: 1200px){
            margin-bottom: 3rem;
        }

        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            flex-wrap: wrap;
            padding: 1rem;

            @media(min-width: 768px){
                flex-direction: row;
                margin: 3rem;
            }

            @media(min-width: 1200px){
                width: 70%;
            }

            li{
                margin: 0 .5rem .1rem 0;

                @media(min-width: 768px){
                    margin: .5rem;
                }

                a{
                    color: #96806c;
                    font-size: .7rem;

                    @media(min-width: 768px){
                        font-size: 1rem;
                    }
                }
                a:hover{
                    color: #96714e;
                }
            }
        }
    }

    .copyright{

        p{
            text-align: center;
            font-size: .5rem;

            @media(min-width: 768px){
                font-size: .7rem;
            }
        }

        margin: .5rem 2rem 2rem 2rem
    }
}

//LogIn

.mainform{
    display: flex;
    align-items: center;
    flex-direction: column;

    h1{
        font-family: 'Cuprum', sans-serif;
        font-size: 2rem;
        margin: 2rem;
    }

    form{
        width: 300px;
        height: 300px;
        border-radius: 0.5rem;
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.5rem;
        border-radius: 1rem;
        margin-bottom: 2rem;

        .input{
            width: 15rem;
            margin-top: 1rem;
            border-radius: .2rem;
            border: 2px solid #96806c;
            background-color: #a1a1a1;
        }

        .check{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: .5rem;

            input{
                margin-right: .5rem;
            }
        }

        .buttons{
            button{
                padding: .2rem .6rem .2rem .6rem;
                font-size: .8rem;
                margin-bottom: 1rem;
                background-color: #96806c;
            }

            button:nth-child(1){
                margin-right: 1rem;
            }
        }
    }

    .logo {
        width: 2.5rem;
        transition: transform .7s ease-in-out;

        @media(min-width: 768px){
            width: 4rem;
        }

        @media(min-width: 1200px){
            width: 5rem;
        }
    }
}

